---

import BaseLayout from "@layouts/BaseLayout.astro";
import { Image } from "astro:assets";

import crew from "src/assets/crew.webp";
import padar from "src/assets/padar.webp";
import padar1 from "src/assets/padar-1.webp";
import fish from "/src/assets/fish.webp";
import sponge from "/src/assets/sponge.webp";

---

<BaseLayout title="Gallery" description="Gallery">
  <div>
    <h1 class="text-3xl bold w-full text-center dark:text-neutral-600">Gallery</h1>
    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
        <div class="grid grid-cols-2 sm:grid-cols-4 gap-2">
          <div class="space-y-2">
            <Image class="w-full h-auto object-cover" src={crew} alt="Image Description" />
            <Image class="w-full h-auto object-cover" src={padar} alt="Image Description" />
            <img class="w-full h-auto object-cover" src="https://res.cloudinary.com/primayuda/image/upload/v1627882281/Divers%20Paradise%20Komodo/Snorkelling%20with%20turtle.jpg" alt="Image Description" />
          </div>
          <div class="space-y-2">
            <img class="w-full h-auto object-cover" src="https://res.cloudinary.com/primayuda/image/upload/v1627887010/Divers%20Paradise%20Komodo/Divers%20with%20juvenile%20shark.jpg" alt="Image Description" />
            <Image class="w-full h-auto object-cover" src={padar1} alt="Image Description" />
            <img class="w-full h-auto object-cover" src="https://res.cloudinary.com/primayuda/image/upload/v1627882119/Divers%20Paradise%20Komodo/Manta%20front.jpg" alt="Image Description" />
          </div>
          <div class="space-y-2">
            <img class="w-full h-auto object-cover" src="https://res.cloudinary.com/primayuda/image/upload/v1627887766/Divers%20Paradise%20Komodo/check%20tank.jpg" alt="Image Description" />
            <img class="w-full h-auto object-cover" src="https://res.cloudinary.com/primayuda/image/upload/v1627887811/Divers%20Paradise%20Komodo/parleso%20from%20above%203.jpg" alt="Image Description" />
            <img class="w-full h-auto object-cover" src="https://res.cloudinary.com/primayuda/image/upload/v1627887311/Divers%20Paradise%20Komodo/skin%20diving.jpg" alt="Image Description" />
          </div>
          <div class="space-y-2">
            <Image class="w-full h-auto object-cover" src={fish} alt="Image Description" />
            <Image class="w-full h-auto object-cover" src={sponge} alt="Image Description" />
          </div>
          <!-- <div class="space-y-2">
            <img class="w-full h-auto object-cover" src="https://res.cloudinary.com/primayuda/image/upload/v1628419288/Divers%20Paradise%20Komodo/Turtle_with_diver.jpg" alt="Image Description" />
            <img class="w-full h-auto object-cover" src="https://res.cloudinary.com/primayuda/image/upload/v1627882216/Divers%20Paradise%20Komodo/Padar%20-%20Indonesia%20Flag.jpg" alt="Image Description" />
          </div> -->
        </div>
      </div>
  </div>
</BaseLayout>