---
import BaseLayout from "@layouts/BaseLayout.astro";
import { Image } from "astro:assets";

const title = "Trip";
const description = "Trip offered by Divers Paradise Komodo";

import turtle from "/src/assets/turtle.webp";
import trydive from "/src/assets/trydive.webp";
import snorkelling from "/src/assets/snorkelling.webp";
import sunbathing from "/src/assets/sunbathing7.webp";

import diveassure from "/src/assets/dive_assure.jpg";
import dan from "/src/assets/dan.jpg";
---
<BaseLayout title={title} description={description}>
  <h1 class="w-full text-4xl text-center dark:text-neutral-200">Trip</h1>
  <h2 class="text-2xl text-center w-full mt-3 dark:text-neutral-200">We have English, Bahasa Indonesia, French, Spanish, Japanese speaking guide/instructors.</h2>
  <h3 class="italic w-full text-center dark:text-neutral-200">Our price include dive gear rental, lunch for day trip and full meal during trip for liveaboard.</h3>  
  <!-- Card Blog -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Grid -->
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <!-- Card -->
      <div class="group flex flex-col h-full bg-white border border-gray-200 shadow-sm rounded-xl dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70">
        <div class="h-52 flex flex-col justify-center items-center rounded-t-xl">
          <Image src={turtle} alt="turtle with diver" class="rounded-t-xl" />
        </div>
        <div class="p-4 md:p-6">
          <span class="block mb-1 text-xs font-semibold uppercase text-blue-600 dark:text-blue-500">
            Diving
          </span>
          <h3 class="text-xl font-semibold text-gray-800 dark:text-neutral-300 dark:hover:text-white">
            Fun Dive
          </h3>
          <p class="mt-3 text-gray-500 dark:text-neutral-500">
            3 boat dives for certified divers.
          </p>
          <p class="mt-3 text-gray-500 dark:text-neutral-500">
            We provide discount for multiple days of diving.
          </p>
          <p class="mt-5 font-bold text-gray-500 dark:text-neutral-500">
            IDR 2.500.000
          </p>
          <p class="mt-5 italic text-gray-500 dark:text-neutral-500">
            Exclude Komodo National Park Daily ticket
          </p>
        </div>
        <div class="mt-auto flex border-t border-gray-200 divide-x divide-gray-200 dark:border-neutral-700 dark:divide-neutral-700">
          <a class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-es-xl bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800" 
             href="/contact/"
          >
            Book Now !!
          </a>
        </div>
      </div>
      <!-- End Card -->

      <!-- Card -->
      <div class="group flex flex-col h-full bg-white border border-gray-200 shadow-sm rounded-xl dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70">
        <div class="h-52 flex flex-col justify-center items-center rounded-t-xl">
          <Image src={trydive} alt="try dive" class="rounded-t-xl" />
        </div>
        <div class="p-4 md:p-6">
          <span class="block mb-1 text-xs font-semibold uppercase text-blue-600 dark:text-blue-500">
            Diving
          </span>
          <h3 class="text-xl font-semibold text-gray-800 dark:text-neutral-300 dark:hover:text-white">
            Try Dive
          </h3>
          <p class="mt-3 text-gray-500 dark:text-neutral-500">
            3 boat dives for non certified divers.
          </p>
          <p class="mt-3 text-gray-500 dark:text-neutral-500">
            If you have never been diving but still want to experience Komodo dive sites, you can enroll to our Discovery Scuba Diving.
          </p>
          <p class="mt-5 font-bold text-gray-500 dark:text-neutral-500">
            IDR 2.700.000
          </p>
          <p class="mt-5 italic text-gray-500 dark:text-neutral-500">
            Exclude Komodo National Park Daily ticket
          </p>
        </div>
        <div class="mt-auto flex border-t border-gray-200 divide-x divide-gray-200 dark:border-neutral-700 dark:divide-neutral-700">
          <a class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-es-xl bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800" 
             href="/contact/"
          >
            Book Now !!
          </a>
        </div>
      </div>
      <!-- End Card -->

      <!-- Card -->
      <div class="group flex flex-col h-full bg-white border border-gray-200 shadow-sm rounded-xl dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70">
        <div class="h-52 flex flex-col justify-center items-center rounded-t-xl">
          <Image src={snorkelling} alt="snorkelling" class="rounded-t-xl" />
        </div>
        <div class="p-4 md:p-6">
          <span class="block mb-1 text-xs font-semibold uppercase text-blue-600 dark:text-blue-500">
            Snorkelling
          </span>
          <h3 class="text-xl font-semibold text-gray-800 dark:text-neutral-300 dark:hover:text-white">
            Snorkelling
          </h3>
          <p class="mt-3 text-gray-500 dark:text-neutral-500">
            3 boat dives for snorkeller.
          </p>
          <p class="mt-3 text-gray-500 dark:text-neutral-500">
            If you want to experience Komodo National Park at the surface of the water, you can join as snorkeller at our daily dive trip.
          </p>
          <p class="mt-5 font-bold text-gray-500 dark:text-neutral-500">
            IDR 1.000.000
          </p>
          <p class="mt-5 italic text-gray-500 dark:text-neutral-500">
            Exclude Komodo National Park Daily ticket
          </p>
        </div>
        <div class="mt-auto flex border-t border-gray-200 divide-x divide-gray-200 dark:border-neutral-700 dark:divide-neutral-700">
          <a class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-es-xl bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800" 
             href="/contact/"
          >
            Book Now !!
          </a>
        </div>
      </div>
      <!-- End Card -->

      <!-- Card -->
      <div class="group flex flex-col h-full bg-white border border-gray-200 shadow-sm rounded-xl dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70">
        <div class="h-52 flex flex-col justify-center items-center rounded-t-xl">
          <Image src={sunbathing} alt="snorkelling" class="rounded-t-xl" />
        </div>
        <div class="p-4 md:p-6">
          <span class="block mb-1 text-xs font-semibold uppercase text-blue-600 dark:text-blue-500">
            Diving/Snorkelling/Trekking
          </span>
          <h3 class="text-xl font-semibold text-gray-800 dark:text-neutral-300 dark:hover:text-white">
            Liveaboard
          </h3>
          <p class="mt-3 text-gray-500 dark:text-neutral-500">
            Best to enjoy Komodo.
          </p>
          <p class="mt-3 text-gray-500 dark:text-neutral-500">
            If you want ultimate experience at Komodo National Park, join our liveaboard program. You can start from minimum of 3 days/2 nights up to as long as you want. Can also combined with dive course.
          </p>
          <p class="mt-5 font-bold text-gray-500 dark:text-neutral-500">
            IDR 3.500.000/day/diver
          </p>
          <p class="mt-5 italic text-gray-500 dark:text-neutral-500">
            Exclude Komodo National Park Daily ticket
          </p>
        </div>
        <div class="mt-auto flex border-t border-gray-200 divide-x divide-gray-200 dark:border-neutral-700 dark:divide-neutral-700">
          <a class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-es-xl bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800" 
             href="/contact/"
          >
            Book Now !!
          </a>
        </div>
      </div>
      <!-- End Card -->
  
      
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Card Blog -->
  <h2 class="text-lg font-bold text-center w-full my-5 dark:text-neutral-200">We provide Short term Dive Insurance from Dive Assure and DAN. <span class="underline"><a href="/contact/">Contact us</a></span> if you need it</h2>
<Image src={diveassure} alt="Dive Assure Banner" class="mx-auto mb-5" />
<Image src={dan} alt="Dive Alert Network Banner" class="mx-auto" />
</BaseLayout>